body {
    font-size: 15pt;
}


.block{
  background-color: #E272FF9C;
  padding: 10px;
  border-radius: 15px;
}

.links{
  background-color: #72FFED9C;
  margin-top: 10px;
}
.info{
  background-color: #8A94FF87;
  margin-bottom: 10px;
}
.info img{
  border-radius: 15px;
}

@media (max-width: 640px){
  .container{
    text-align: center;
    margin: 0 auto inherit;
  }
}
